


#category {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
}


#category button{
        display: inline-block;
        font-size: 15px;
        margin: 8px 20px;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        cursor:  pointer;
}


#category button:hover {
        background-color:#ec8f6e;
}
