
.parseData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-left: 20px; */
}

#firstchart, #secondchart, #thirdchart{
    margin-left: 50px;
}