@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('./styles/category');
@import url('./styles/chart_display');
@import url('./styles/mapLeft');

body {
    background-color: #CACFD2;
    margin: 40px;
    padding: 20px;
};

// nav bar area

.nav_bar {
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
    background-color: #CACFD2;
   

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color:white;
    text-decoration: solid;

}

header {
    display: flex;
    justify-content: flex-end;
    // justify-content: first baseline;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    height: 80px;
}
.nav_links {
    list-style:  none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    border-radius: 100px;
}
.nav_links li a {
    transition: all 0.3s  ease 0s;
    color: #0088a9
}

button {
    margin-left: 20px;
    margin-right: auto;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor:  pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: gold;
}

#right1:hover{
    background-color:gold;
}
#right2:hover{
    background-color:gold;
}
#right3:hover{
    background-color: gold;
}

// main body css

h1{
    font-family: fantasy;;
    font-size: 50px;
    text-align: center;
    color: #0088a9;
    display: block;
}

.map {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 3cm;
    padding-right: 3cm;
    // padding-right: -10px;
}
#regions_div{
    width: 1000px; 
    height: 400px;
    margin: 0px;
}
#chart_div {
    width: 1350px; 
    height: 550px;
    margin: 0px;
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    height:0px;
}







